{% extends 'base-nav.html' %}

{% block head %}
<title> About Page </title>
{% endblock %}

{% block body %}
<div id="space" class="p-5 border bg-light">
    <h1>About</h1>
    <h2>Description</h2>
    The web-based Boğaziçi University Annotation Tool (BoAT) supports grammar annotation especially suitable for morphologically
    rich languages (MRLs). It is useful for creating treebanks and conforms to <a
        href="https://universaldependencies.org/">Universal Dependencies</a> (UD) framework.<br><br>

    A user can upload and annotate a treebank by providing values for UD CoNLL-U tags (<i>ID</i>, <i>FORM</i>,
    <i>LEMMA</i>, <i>UPOS</i>, <i>XPOS</i>,
    <i>FEATS</i>, <i>HEAD</i>, <i>DEPREL</i>, <i>DEPS</i>, <i>MISC</i>). Furthermore, lemmas can be split and tagged,
    which is useful for MRLs like
    Turkish.<br><br>

    This tool also provides support for sharing experiences among annotators with a rich search feature. It also
    supports the computation of inter-annotator agreement scores.<br><br>

    <h2>Building</h2>

    <b>Prerequisite</b>: Make sure that Docker is installed and running on your system. See <a
        href="https://docs.docker.com/get-docker/">docs.docker.com/get-docker</a> for installation instructions
    for your system.<br><br>

    This tool easily can be built with the following instructions:<br><br>

    <span style="font-size: 1.1em;">
    1. Obtain the code using one of the following methods:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- Download directly <a
        href="https://github.com/furkanakkurt1335/boat/archive/refs/heads/main.zip">here</a> and
    unzip, or<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- Use Git with the command: <code>git clone https://github.com/furkanakkurt1335/boat.git</code><br>
    2. Go to the newly created directory (if using zip the directory should be <i>boat-main</i>. If using
    Git,
    the directory should be <i>boat</i>).<br>
    3. Build the tool with the command <code>docker-compose up -d --build</code><br>
    4. Open <a href="http://localhost:8000">localhost:8000</a> on your browser to start the tool.<br><br>
    </span>
    
    Please see <a
        href="https://github.com/furkanakkurt1335/boat">github.com/furkanakkurt1335/boat</a>
    for further information.<br>

</div>

{% endblock %}