{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forme.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script type="text/javascript" src="{% static 'jquery-3.6.0.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" id="profile" href={% url 'profile' %}>{{user}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" id="home" href={% url 'home' %}> Home </a>
                        </li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="treebanksDropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Treebanks
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="treebanksDropdownMenuButton">
                                <li><a class="dropdown-item" id="create_treebank" href={% url 'create_treebank' %}>Create</a></li>
                                <li><a class="dropdown-item" id="view_treebanks" href={% url 'view_treebanks' %}>View</a></li>
                                <li><a class="dropdown-item" id="upload_file" href={% url 'upload_file' %}>Upload File</a></li>
                                <li><a class="dropdown-item" id="add_sentence" href={% url 'add_sentence' %}>Add Sentence</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="annotationsDropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Annotations
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="annotationsDropdownMenuButton">
                                <li><a class="dropdown-item" id="compute_agreement" href={% url 'compute_agreement' %}> Compute Agreement </a>
                                <li><a class="dropdown-item" id="my_annotations" href={% url 'my_annotations' %}> My Annotations </a></li>
                                <li><a class="dropdown-item" id="search" href={% url 'search' %}> Search </a>
                                </li>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" id="about" href={% url 'about' %}> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="help" href={% url 'help' %}> Help </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href={% url 'preferences' %}>Preferences</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href={% url 'logout' %}> Log out </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>