{% extends 'base-nav.html' %}
{% load static %}

{% block head %}
<title> View Treebanks Page </title>
<script>
    window.onload = function () {
        let view_buttons = document.getElementsByClassName('view-sentences');
        for (let i = 0; i < view_buttons.length; i++) {
            view_buttons[i].addEventListener("click", function () {
                let treebank_title = view_buttons[i].id;
                window.location.replace(`/{{root_path}}view_treebank/${treebank_title}`);
            });
        }
        let dl_buttons = document.getElementsByClassName('download');
        for (let i = 0; i < dl_buttons.length; i++) {
            dl_buttons[i].addEventListener("click", function () {
                let treebank_title = dl_buttons[i].id;
                $.post("/{{root_path}}download_conllu/",
                    {
                        treebank_title: treebank_title
                    },
                    function (data) {
                        let textarea_t = document.createElement('textarea');
                        textarea_t.innerHTML = data;
                        var conllu_blob = new Blob([textarea_t.value], { type: "text/plain" });
                        var url = window.URL.createObjectURL(conllu_blob);
                        var anchor = document.createElement("a");
                        anchor.href = url;
                        anchor.download = `${treebank_title}.conllu`;
                        anchor.click();
                        window.URL.revokeObjectURL(url);
                    });
            });
        }
    };
</script>
{% endblock %}

{% block body %}
<div id="space" class="p-5 border bg-light">

    <table class="table">
        <h1>View Treebanks</h1>
        {% if tbs %}
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Number of sentences</th>
                <th scope="col">View link</th>
                <th scope="col">Download link</th>
            </tr>
        </thead>
        <tbody>
            {% for tb in tbs %}
            <tr>
                <td>{{tb.title}}</td>
                <td>{{tb.size}} sentences</td>
                <td> <button class="btn btn-light btn-outline-secondary view-sentences" id="{{tb.title}}"><img id="eye"
                            src="{% static 'eye.svg' %}"></button>
                </td>
                <td> <button class="btn btn-light btn-outline-secondary download" id="{{tb.title}}"><img id="save"
                            src="{% static 'save.svg' %}"></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <span>No treebank created yet. <a href={% url 'create_treebank' %}>Create here.</a></span>
        {% endif %}
    </table>
</div>
{% endblock %}